
<section class="nav">  

<!--toggle-->
    <input type="checkbox" id="check">
    <label for="check">   
      <i class="fa fa-bars " aria-hidden="hidden" id="btn"> </i>  
        <i class=" toggle-icon"  id="cancel"></i>
        </i>
    </label> 
  
<!--sidebar-->
    <div class="sidebar">  
  <header class="flexbox ">
   
   <h2><i class="fas fa-wave-square header-name "></i></h2>
   <span class="p">|</span> 
   
   <span class="tag-color">{{place.name}} </span></header>

    

<!--searchbar-->
     
        <div class ="search-bar ">
             <div id="geocoder" class="geocoder"></div>
          <a href="/favoritesPlaces" >
          <button class="btn btn-primary " id="saveLocation" >+</button></a>
           </div>    


     <div class="card-container">
      <div  class="card-body">
      <div   class = 'card-scrollbar '> 


<div class="list p">
  <h2  >{{place.name}}</h2>
<p class="secondary-div p">{{place.address}}</p>

<div class="flexbox-evenly ">
<p class="secondary-div" >{{place.tag}}</p> <div class="secondary-color">|</div>
<div class="secondary-div">
  <i class="far fa-star secondary-div">  <span class="secondary-div">{{place.rating}}</span></i> 
  </div>
   </div>
</div>

<div class="list">
  <p class="p-2 ">{{place.description}}</p>
   
  </div>

<div class="">


  <div class="flexbox-center  my-1">
    <a href="/favoritesPlaces" >
<a class=" secondary-btn" href="/favoritesPlaces/{{place._id}}/edit">edit</a></a>


<form  action="/favoritesPlaces/{{place._id }}/delete" method="POST">
<button class="btn btn-dark" type="submit"><i class="fas fa-trash "></i></button> </form>
</div>


  </div>



 


  {{!-- <a href="/" class=> back</a> --}}
  </div>


   
</div> <!--end of card header-->
 
    </div>
      

      
      <div class="footer ">
        <div class="footer-container">

          <div class="footer-item p ">
           <a class="nav" href="/homepage" class=>
           <span>
             <i class="fa fa-bars nav-btn " aria-hidden="hidden" id="btn">  </i>
           </span>
          </a> 
          </div>
          <div class="border"></div>

       <div class="footer-item p">
           <a class="btn-seconary" href="/favoritesPlaces" class=>
           <span>              
          <i class=" nav-btn fas fa-map-marked-alt fa-1x"></i>
          </span>
          </a>
       </div>

          <div class="border"></div>

          <div class="footer-item p">
            <a class="nav" href="/logout" class=> <span> <i class=" nav-btn fas fa-sign-out-alt"></i></span> </a>
          </div>
          
        </div>
            </div>

  
  
  


  
      </div> <!--sidebar-->
   </section>


  
