<section class=" ">
  <!--toggle-->
  <input type="checkbox" id="check" checked>
  <label for="check">
    <i class="fa fa-bars " aria-hidden="hidden" id="btn"> </i>
    <i class=" toggle-icon" id="cancel"></i>
    </i>
  </label>
  <!--sidebar-->
  <div class="sidebar">
    <header class="flexbox ">
      <h2><a href="/homepage"><i class="fas fa-wave-square header-name "></i></a></h2>
      {{!-- <span class="p">|</span> --}}
      <span class="tag-color"> update {{place.name}} </span>
    </header>
    <div class="card-container">
      <div class="card-body  column  ">
        <div class='favorite-place-list  card-scrollbar '>
          <h2>{{place.name}}</h2>
          <p class="secondary-div p">{{place.address}}</p>
          {{#with place}}
            <form class="form" action="/favoritesPlaces/{{_id}}/edit" method="POST">
              <textarea class="list" name="description" name="description" id="description"
                placeholder="notes on this spot " value="{{description}}">{{description}}</textarea>
              <!--<input  type="description" name="description" id="description" value="{{description}}">-->
              <div class="flexbox-edit-place " edit-place" ">

<div> 
  <label for=" tag"> </label>
                <select class="secondary-btn" name="tag" id="tag">
                  <option selected> select..</option>
                  <option value="Food">Food </option>
                  <option value="Bar">Bar</option>
                  <option value="Park">Park</opption>
                  <option value="Sports">Sports</option>
                  <option value="Culture">Culture</option>
                  <option value="Club">Party!!!</option>
                  <option value="overnight">overnight</option>
                </select>
              </div>
              <div class="mx-2 rating-class">
                <label for="rating"> </label>
                <i class="fas fa-star primary"></i>
                <input type="number" name="rating" id="rating" placeholder="0" min="1" max="6"
                  value="{{rating }}"></input>
              </div>
              <button class="btn btn-primary my-2 " id="saveTag" type="submit">+</button>
        </div>
        </form>
        {{/with}}
        <!--<button class="btn btn-primary" type="submit">Delete</button> -->
      </div>
    </div>
    <!--end of card header-->
  </div>
  <footer class="footer">
    <div class="footer-container flexbox-between">
      <div>
        <a class="nav" href="/favoritesPlaces" class>
          <i class="fa fa-bars nav-btn fa-2x"></i>
        </a>
      </div>
      <div class="border"></div>
      <div>
        <input type="checkbox" id="check" checked />
        <label for="check">
          <i class="nav-btn fas fa-map-marked-alt fa-2x toggle-nav"></i>
        </label>
      </div>
      <div class="border"></div>
      <div>
        <a class="nav" href="/logout" class>
          <i class="nav-btn fas fa-sign-out-alt fa-2x"></i>
        </a>
      </div>
    </div>
  </footer>
  </div>
  <!--sidebar-->
</section>